{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    <a href="{{ path('homepage') }}">back to home</a>

    <h2>Records</h2>
    <a href="{{ path('record_new') }}">New</a>
    <hr>

    {{ render_esi(path('record_header')) }}

{% endblock %}
