{% extends 'base.html.twig' %}

{% block title %}Records{% endblock %}

{% block body %}

    <a href="{{ path('homepage') }}">back to home</a>

    <h2>Records</h2>
    <a href="{{ path('record_new') }}">New</a>
    <hr>

    {{ render_esi(path('record_content')) }}

{% endblock %}
