{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

    <h1>Homepage</h1>
    <a href="{{ path('admin') }}">Admin</a>
    <a href="{{ path('record_index') }}">Records</a>

{% endblock %}
